@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    background: rgb(101, 101, 231);
    background: linear-gradient(0deg, rgba(101, 101, 231, 1) 0%, rgba(175, 103, 233, 1) 100%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
}
.card{
    background-color: #ffffff;
    display: flex;
    padding: 80px 30px;
    width: 920px;
    height: 510px;
    border-radius: 20px;
    background-image: url(../images/illustration-woman-online-desktop.svg), url(../images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position: -19% 48%, 1260% 67%;
    position: relative;
}
.card .woman{
    width: 100%;
    height: 359px;
}
.card .woman img{
    display: none;
}
.card .box{
    position: absolute;
    left: -10%;
    top: 40%;
}
.card div h1{
    font-size: 30px;
    margin-top: -15px;
    margin-bottom: 35px;
    color: hsl(238, 29%, 16%);
}
.item{
    border-bottom: 1px solid hsl(240, 5%, 91%);
    width: 350px;
    cursor: pointer;
    position: relative;
}
.item .question{
    font-size: 15px;
    font-weight: 400;
    width: 100%;
    margin: 15px 0;
    color: hsl(237, 12%, 33%);
}
.item .seta{
    width: 20px;
    height: 20px;
    top: 0;
    right: 0;
    background-image: url(../images/icon-arrow-down.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
}
.item.ativo .seta{
    transform: rotate(180deg);
}
.item .anwser {
    display: none;
    margin-bottom: 17px;
    line-height: 18px;
    color: hsl(240, 6%, 50%);
}
.item.ativo .question{
    font-weight: 700;
    color: hsl(238, 29%, 16%);
}
.item.ativo .anwser{
    display: block;
}
.item .question:hover{
    color: hsl(14, 88%, 65%);
}